* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: arial, helvetica, Arial, Helvetica, sans-serif;
    background-color: #ccc;
    display: flex;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.header {
    width: 1200px;
    background-color: #fff;
    height: 2414px;
    margin: auto;
}

.header-heading {
    width: 1200px;
    height:40px;
    background-color: #e7e4e4;
}

.header-heading-left-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 7px;
    position: relative;
    top: -37px;
    left: 315px;
}

.header-heading-left {
    float: left;
}

a{
    text-decoration: none;
}

.header-heading-right ul {
    list-style-type: none;
}

.header-heading-right {
    float: right;
   margin-right: 20px;
}

.header-heading-right li {
    float:left;
    margin: 10px;
}

.header-heading-right-item::after {
    content: "";
    border: 0.5px solid rgb(192, 190, 190);
    height: 8px;
    margin-left: 10px;
    margin-right: -9px;
}

.css-DN-DK {
    color:rgb(148, 146, 146);
}

.css-DN-DK:hover {
    color:rgb(255, 0, 0);
}

.title-header{
    width: 1200px;
    margin: auto;
    height: 190px;
}

.title-header-logo {
    float: left;
    width: 500px;
    height: 100px;
    margin: 15px 0 0 50px;
    
}

.title-header-logo-item {
    width: 375px;
    height: 160px;
    margin-left: -38px;
    margin-left: -104px;
    margin-top: 1px;
}

.title-header-cart {
    float: right;
    width: 400px;
    height: 60px;
    /* border: 1px solid #000; */
}

.title-header-check {
    float: right;
    width: 145px;
    height: 68px;
    top: 30px;
    position:relative;
}

.ti-mobile:before {
    content: "\e621";
    position: relative;
    top: -4px;
    color: darkviolet;
}

.title-header-cart-item {
    width: 50px;
    margin-top: 13px;
    margin-right: -2px;
    margin-left: 18px;
}

.title-header-SP{
    position: absolute;
    left: -32px;
    z-index: 1;
    top: 7.5px;
    text-align: center;
    color: #f00;
}

.css-GH {
    position: relative;
    left: -58px;
    top: 14px;
}

.css-SP {
    width: 90px;
    position: relative;
    left: 73px;
    top: 7px;
    z-index: 5;
}

.koko {
    background: #ffffff;
    margin-right: 53px;
    height: 46px;
    width: 218px;
    position: relative;
    border-radius: 1px;
    z-index: 5;
    color: red;
    font-size: 0.85rem;
    display: none;
    top: 116px;
    box-shadow: -1px 6px 8px -2px rgb(241 238 238);
    right: 97px;
}

.css-0d {
    position: relative;
    top: 12px;
    left: 99px;
    z-index: 5;
}

.ti-search:before {
    position: relative;
    top: 3px;
}

.title-header-contact {
    float: right;
    width: 400px;
    
}

span.balabala {
    color: red;
}


.title-header-contact-phone {
    
    height: 30px;
    float: left;
    margin-top: 46px;
    /* padding-left: -22px; */
    font-size: 1.4rem;
    color: #00f;
    line-height: 26px;
    position: relative;
    left: -194px;
}

.css-img-phone {
    width: 29px;
    height: 26px;
    position: relative;
    top: 6px;
}

.title-header-search {
    width: 223px;
    /* height: -30px; */
    float: right;
    margin-top: 0px;
    background-color: #f7f7f7;
    position: relative;
    right: 40px;
    top: 70px;
}

.title-header-SP {
    display: none;
}

.title-header-check:hover .title-header-SP {
    display: none;
    margin: 90px 150px 0 0px;
    background-color: #e7e4e4;
    width: 100px;
    height: 60px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 5px 10px #ccc5c5;
}

.title-header-SP-item {
    margin-left: 45px;
    box-shadow: 2px rgba(31, 30, 30, 0.2);
}

.title-header-search-input:focus {
    border-color: black; 
   
}

.daoly {
    display: block;
    margin-top: 29px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 23px;
    color: #616161;
}

.daoly-title-2 {
    display: block;
    margin-top: 85px;
    margin-left: 11px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 13px;
}

.daoly::after {
    content: "";
}

.daoly-content {
    line-height: 23px;
    margin-left: 22px;
    margin-top: 3px;
    color: #7e7a76;
}

marquee.bale {
    display: block;
    margin-top: 0px;
    position: relative;
    width: 100%;
    top: 36px;
    background-color: rgb(72, 177, 40);
    color: white;
}

a.keke {
    text-decoration: none;
    color: #616161;
}

a.keke:hover {
    color: #dd224b;
}

.balabalala {
    border-top: 1px solid #979a9d;
    top: 59px;
    position: relative;
}

pre {
    display: block;
    margin-top: 10px;
}

/* marquee.bebe {
    display: block;
    margin-top: 2px;
} */

.daoly-title {
    display: block;
    margin-top: 87px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.title-header-search-input {
    width: 284px;
    margin-right: 0px;
    height: 35px;
    right: 66px;
    border: 0.8px solid;
    position: relative;
    background-color: #f7f7f7;
}

.title-header-search-btn {
    width: 35px;
    height: 35px;
    position: absolute;
    /* z-index: 2; */
    top: 0px;
    right: -32px;
    /* border: 0; */
}

img.title-header-search-btn-icon {
    height: 17px;
    margin-top: 3px;
}

.header-title {
    width: 100%;
    height: 60px;
    background-color: #333;
}

.header-title-list-items-more-4 {
    width: 145px;
    display: inline-block;
    color: #fff;
    list-style-type: none;
    margin-top: -2px;
    text-align: center;
    position: relative;
}

.header-title-list-items {
    width: 145px;
    display: inline-block;
    color: #fff;
    list-style-type: none;
    margin-top: -2px;
    text-align: center;
    position: relative;
}

.header-title-list-items-img {
    width: 145px;
    display: inline-block;
    color: #fff;
    list-style-type: none;
    margin-top: -2px;
    text-align: center;
    position: relative;
}

.header-title-list-items::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #c5b9b9;
    height: 35px;
    right: -9px;
    top: -4px;
}

.header-title-list-items-more::after {
    border-left: none;
    height: 0px;
}

.header-title-list-items-more-1::after {
    margin-top: -50px;

}

.header-title-list-items-more {
    position: relative;
    top: 0px;
    left: 7px;
}

.header-list-items-more-3:hover,
.header-list-items:hover {
    color:rgb(182, 37, 37);
}

.header-title-home-icon {
    position: relative;
    height: 39px;
    top: 19px;
}


marquee.meomeo {
    display: block;
    margin-left: 300px;
    position: relative;
    top: 45px;
}

.header-list-items-more-2::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #c5b9b9;
    height: 35px;
    right: -57px;
    top: 1px;

}

.header-title-list-items-more-0::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #c5b9b9;
    height: 35px;
    right: -9px;
    top: 57px;
}

.header-title-list-items-img::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #c5b9b9;
    height: 35px;
    right: -9px;
    top: 20px;
}

.header-list-items-more-3 {
    color: rgb(250, 245, 245);
    margin-left: 10px;
    text-transform: uppercase;
}

.header-list-items {
    color: rgb(250, 245, 245);
    margin-left: 10px;
    top: 6px;
    position: relative;
    text-transform: uppercase;
}

.extra {
    position: relative;
    left: 0px;
}

a.header-title-list {
    height: 110px;
}

li.header-title-list-items.header-title-list-items-more-1 {
    position: relative;
    top: 9px;
}

.title-header-SP::after {
    content: "";
    display: block;
    position: absolute;
    width: 99px;
    height: 35px;
    right: -1px;
    top: -5px;
}

.container-content {
    height: 1700px;
    margin: 10px;
    max-width: 100%;
    /* background-color: aqua; */
    display: block;
}

.grid {
    max-width: 100%;
    height: 100px;

}

.grid-col-DM {
    width: 20%;
    height: 400px;
    margin: 10px;
    top: 0px;
    display: inline-block;
    background-color: rgb(247, 247, 253);
    position: relative;
    border: 1px solid #ccc;
}

.grid-col-DM::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #12dc67;
    height: 399px;
    right: -40px;
    top: -1px;
}

.container-list-item:hover  {
    right: -2px;
    color:rgb(255, 0, 0);
}

.container-list-item {
    list-style-type: none;
    margin-top: 10px;
    margin-left: 10px;
    display: block;
    position: relative;
    right: -15px;
    transition: right linear 0.8s;
}

.grid-col {
    width: 21%;
    height: 400px;stroke-opacity: ;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 47px;
    display: inline-block;
    background-color: rgb(247, 247, 253);
    position: relative;
    top: 9px;
    /* box-shadow: 0 1px 1px 0 rgb(59 53 53); */
    border-radius: 7px;
    border: 1px solid #ccc;
    right: -16px;
    transition: transform ease-in 0.1s;
    /* transition: right linear 0.2s; */
}



.content-img {
    width: 100%;
    height: 312px;
    object-fit: cover;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container-title {
    margin-left: 14px;
    margin-top: 10px;
}

.container-click-DM:hover{
    color:rgb(255, 0, 0);
}

.header-list-items-TTN {
    position: relative;
    top: 15px;
}

h5.name-item {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    top: -14px;
    color: rgba(0,0,0,.87);
    position: relative;
}

p.price-item {
    text-align: center;
    color: red;
    top: -8px;
    position: relative;
}

.price-item-more {
    margin-right: 5px;

    text-decoration: line-through #333;
}

.icon-label {
    display: block;
    margin-top: 15px;
    position: relative;
    top: -16px;
}

.icon-stars {
    display: inline-block;
    margin-left: 12px;
}

.icon-heart {
    display: inline-block;
}

.fa-heart:before {
    content: "";
    margin-left: 94px;
}

.icon-heart-item-activated {
    color: #f00;
}

i.icon-stars-item-activated {
    color: rgb(226, 226, 7);
}

footer.footer {
    position: relative;
    top: 100px;
    left: 11px;
}

.border::before {
    content: "";
    border-top: #333 solid 4px;
    
}

.grid__footer-bottom {
    position: relative;
    top: 89px;
    text-align: center;
}

.footer-full {
    display: block;
}

.footer-list-items {
    display: inline-block;
    margin-left: 60px;
    margin-right: 21px;
}

a.footer-item__link {
    font-size: 15px;
    color: #737373; 
    line-height: 2.2;
}

a.footer-item__link:hover {
    color: #f00;
}

.footer-item {
    list-style: none;
}

.footer__heading-CSKH {
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(116 110 110);
    position: relative;
    top: -12px;
}

.footer__heading-CT {
    font-size: 1rem;
    text-transform: uppercase;
    color: rgb(116 110 110);
    position: relative;
    top: 7px;
    left: 80px;
}

.footer__heading {
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(116 110 110);
    position: relative;
    top: -40px;
}

p.footer__text {
    font-size: 14px;
}

.border {
    /* border: 2.2px solid rgb(56, 58, 54); */
    margin-top: 100px;
}

.grid-col:hover {
    top: -2px;
    border:1px solid #333;
    box-shadow: 0 1px 1px 0 rgb(59 53 53);
}

img.logo-zalo {
    width: 94px;
    position: relative;
    height: 94px;
    top: 12px;
    margin-left: 74px;
}

.border-top {
    border-top: #333 solid 1px;
}

marquee {
    position: relative;
    top: 34px;
    display: block;
    margin-top: -51px;
    border-radius: 4px;
    background-color: rgb(202 206 205);
}

h2.name-slide {
    margin-top: 37px;
    display: inline-block;
}

img.animation {
    position: relative;
    height: 124px;
    width: 360px;
    top: -38px;
    object-fit: cover;
    border-radius: 4px;   
}

.footer__text {
    color: #7d7582;
}

p.text-contact {
    position: relative;
    top: -7px;
    left: 134px;
    color: rgb(148, 146, 146);
}

p.text-QR {
    position: relative;
    top: 11px;
    left: 24px;
    color: rgb(148, 146, 146);
}

.haha {
    position: relative;
    top: -2px;
    left: 3px;
    color: rgb(148, 146, 146);
}

.persuade-img {
    height: 130px;
    position: absolute;
    top: 40px;
    left: 0px;
    display: none;
    box-shadow: 1px 1px 1px 1px #888888;
}

.text {
    position: relative;
}

.text:hover .persuade-img {
    display: block;
}

span.sale-off {
    position: relative;
    top: -313px;
    left: -5;
    color: #e2e21c;
    right: 5px;
    background-color: #ff0b0b;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

span.percent {
    font-size: 13px;
    position: relative;
    color: #e2e21c;
    top: -0.9px;
}

.sale-off::after {
    content: "";
    position: absolute;
    /* left: -4; */
    right: 65.8px;
    bottom: -3px;
    border-top: 3px solid #ff0b0b;
    border-left: 3px solid transparent;
    /* filter: brightness(60%); */
}

.reduce {
    top: -0.8px;
    left: 2px;
    margin-top: 5px;
    position: relative;
}
.kiki {
    display: none;
    position: absolute;
    top: 40px;
    left: 4px;
    z-index: 1;
    color: #fff;
    text-align: center;
}

i.fa-brands.fa-facebook.header-heading-left-img {
    font-size: 40px;
    /* margin-bottom: 1px; */
    position: relative;
    top: -43px;
    color: #4a4ad5;
}

i.fa-solid.fa-rotate-left {
    display: block;
    margin: 0px;
    position: relative;
    top: 16px;
    left: 116px;
}

i.fa-solid.fa-envelope.header-heading-left-img {
    font-size: 36px;
    position: relative;
    color: #c52424;
    top: -44px;
}

.kiki::after {
    content: "";
    display: block;
    position: absolute;
    width: 150px;
    height: 22px;
    right: -2px;
    top: -23px;
    border-bottom: 1px solid;
}

.header-title-list-items:hover span.kiki {
    background-color: #333;
    width: 144px;
    height: 60px;
    display: block;
}

.kuku {
    margin-top: 20px;
    color: white;
    position: relative;
    font-weight: 500;
    top: 21px;
}

.kiki:active .kuku {
    color: #ff0b0b;
}

.text-QR::after {
    content: "";
    display: block;
    position: absolute;
    width: 105px;
    height: 22px;
    right: 80px;
    top: 20px;
}

i.icon-category {
    font-size: 19px;
    position: relative;
    top: -2px;
}

.border-lele {
    border-top: 1px solid #ccc;
    position: relative;
    top: -5px;
    left: -7px;
}

.meme {
    display: none;
}

.title-header-check:hover .header-no-cart {
    display: block;
}

.title-header-check:hover .koko {
    display: block;
}

img.header-no-cart {
    position: absolute;
    z-index: 2;
    left: -97px;
    display: none;
    height: 100px;
    width: 219px;
    top: 91px;
}

img.header-no-cart {
    box-shadow: 0px 1px 11px -1px rgb(123 114 114);
}
